<h1 class="bg-success-subtle p-2 text-center text-success w-100">CODER USERS</h1>
<section>
  <article id="register" class="w-50" ></article>
  <article id="users" class="d-flex flex-wrap w-50">
    <h1>REGISTER FORM!</h1>
  </article>
</section>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"> </script>
<script>
  const socket = io();
  socket.on("users", data => {
    console.log(data)
    let template = ``
    template = data.map(each=> `
      <div class="card m-2" style="width: 18rem">
          <img style="height: 10rem" src="${each.photo}" class="card-img-top" alt="${each.id}">
          <div class="card-body">
            <h5 class="card-title">${each.email}</each></h5>
         </div>
      </div>
    `).join("")
    document.querySelector("#users").innerHTML = template
  })
</script>