<div class="container d-flex flex-row flex-wrap justify-content-between">
  <h1 class="w-100 text-center">PRODUCT DETAIL</h1>
{{#if product._id}}
    
    <div class="container text-center d-flex flex-column align-items-center">
        <h1>{{product.title}}</h1>
    <div class="card" style="width: 18rem;">
  <img src="{{product.photo}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">$:{{product.price}}</p>
  </div>
</div>
<button class="btn bg-primary m-2 ">AGREGAR AL CARRITO</button>
</div>
{{else}}
    <h1>PRODUCT NOT FOUND</h1>
{{/if}}

</div>