<div class="container d-flex flex-row flex-wrap justify-content-between" style="width:100%;">
  <h1 class="w-100 text-center text-success">USERS</h1>
  {{#each users}}
    <div class="card m-2" style="min-width: 18rem; max-width: 18rem;">
      <img
        src="{{this.photo}}"
        class="card-img-top"
        alt="photo_users_handlebars"
      />
      <div class="card-body text-center">
        <h5 class="card-title">{{this.email}}</h5>
        <p class="card-text"></p>
        <a href="/users/{{this._id}}" class="btn btn-success">Ver Perfil</a>
      </div>
    </div>
  {{/each}}
  </div>
</div>