<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  <title>Evolución Verde</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/1a6b789c55.js" crossorigin="anonymous"></script>
  <style>
    body {
      padding-top: 80px !important;
      background-color: #f4faf6;
    }

    h1 {
      font-family: 'Roboto',
        sans-serif;
    }

    .product-title {
      font-family: 'Lato', sans-serif;
    }
    .list{
      margin-left: 8.5rem !important;
      background-color: rgba(239, 255, 229, 0.968);
    }
    .hover-text-profile,
    .hover-text-signOut {
      position: relative;
    }

    li {
      align-items: center;
      justify-content: center;
    }

    .fa-solid {
      width: 15px;
    }

    .hover-text-signOut:hover::after {
      content: 'Sign Out';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-25%);
      background-color: rgb(214, 214, 214);
      color: rgba(77, 77, 77, 0.7);
      padding: 0.5rem;
      margin: 10px;
      border-radius: 4px;
      white-space: nowrap;
    }

    .hover-text-profile:hover::after {
      content: 'Profile';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-25%);
      background-color: rgb(214, 214, 214);
      color: rgba(77, 77, 77, 0.7);
      padding: 0.5rem;
      margin: 10px;
      border-radius: 4px;
      white-space: nowrap;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top d-flex flex-nowrap justify-content-center"
    style="box-shadow: 0 0 8px rgb(158, 190, 245)!important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/img/logo-tr.png" alt="Logo" height="50"
          class="d-inline-block align-top" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              CATEGORIES
            </a>
            <ul class="dropdown-menu fs-5 list">
              <li><a class="dropdown-item" href="/products/category/condimentos">CONDIMENTOS</a></li>
              <li><a class="dropdown-item" href="/products/category/snacks">SNACKS</a></li>
              <li><a class="dropdown-item" href="/products/category/harinas">HARINAS</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/products/category/bebidas">BEBIDAS</a></li>
              <li><a class="dropdown-item" href="/products/category/frutos secos">FRUTOS SECOS</a></li>
              <li><a class="dropdown-item" href="/products/category/sopas">SOPAS</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/products/category/verduras">VERDURAS</a></li>
              <li><a class="dropdown-item" href="/products/category/cereales">CEREALES</a></li>
              <li><a class="dropdown-item" href="/products/category/fermentados">FERMENTADOS</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/products/category/frutas">FRUTAS</a></li>
              <li><a class="dropdown-item" href="/products/category/proteinas">PROTEINAS</a></li>
              <li><a class="dropdown-item" href="/products/category/suplementos">SUPLEMETNOS</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/">TODAS LAS CATEGORIAS</a></li>
            </ul>
          </li>
          {{#if user_id}}
          <a class="nav-link actives fs-5" aria-current="page" href="/users">Profile</a>
          {{/if}}
          {{#if admin}}
          <a class="nav-link actives fs-5" aria-current="page" href="/products/real">Products</a>
          {{/if}}
          </li>
        </ul>
      </div>
    </div>
    {{#if user_id}}
    <li class="nav-item d-flex" style="width: 100px;">
      <a class="nav-link fs-5 d-flex text-center justify-content-center btn btn-light p-2 hover-text-profile"
        href="/users"><i class="fa-solid fa-user"></i></a>
    </li>
    <li class="nav-item d-flex" style="width: 100px;">
      <a class="nav-link fs-5 d-flex text-center justify-content-center btn btn-light p-2 hover-text-signOut signout"
        href="/">
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
      </a>
    </li>
    <a href="http://localhost:8080/carts/"><img src="/img/cart-tr.png" alt="Cart Logo" width="50" height="50"
        class="d-inline-block align-top" style="margin-right: 20px;" /></a>
    {{/if}}
    {{#unless user_id}}
    <li class="nav-item d-flex" style="width: 180px;">
      <a class="nav-link fs-5 d-flex text-center justify-content-center btn btn-light p-2" href="/users/login">
        <i class="fa-solid fa-user" style="margin: 7px;"></i>
        Sign in
      </a>
    </li>
    {{/unless}}

    <img src="/img/letraV_tr.png" alt="V Logo" width="50" height="50" class="d-inline-block align-top"
      style="margin-right: 20px;" />
    </ul>
    </div>
    </div>
  </nav>

  {{{body}}}

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© 2024 Company, Inc</p>

    <a href="/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <img src="/img/logo-tr.png" alt="Logo" height="50" />
      </svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
      {{#unless user_id}}
      <li class="nav-item d-flex" style="width: 180px;">
        <a class="nav-link fs-5 d-flex text-center justify-content-center btn btn-light p-2" href="/users/login">
          <i class="fa-solid fa-user" style="margin: 7px;"></i>
          Sign in
        </a>
      </li>
      {{/unless}}
      <li class="nav-item"><a href="/users" class="nav-link px-2 text-body-secondary">Users</a></li>
      {{#if user_id}}
      <li class="nav-item">
        <a class="nav-link px-2 text-body-secondary signout" href="#">Signout</a>
      </li>
      {{/if}}
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script>
    document.querySelectorAll(".signout").forEach(element => {
      element.onclick
        = async () => {
          const opts = {
            method: "POST", headers: {
              "Content-Type":
                "application/json"
            }
          }; let response = await
            fetch("/api/sessions/signout", opts); response = await response.json();
          if (response.statusCode === 200) { location.replace("/"); }
        };
    });

    document.addEventListener('DOMContentLoaded', function () {
      const icons = document.querySelectorAll('.hover-text');

      icons.forEach(icon => {
        icon.addEventListener('mouseover', function () {
          icon.setAttribute('data-content', 'Tu texto aquí');
        });
        icon.addEventListener('mouseout', function () {
          icon.removeAttribute('data-content');
        });
      });
    });
  </script>

</body>

</html>